[[source]]
trusted-host = "nexus.meteoswiss.ch"
verify-ssl = true
index = "https://nexus.meteoswiss.ch/repository/python-all/pypi"
url = "https://nexus.meteoswiss.ch/repository/python-all/simple"

[requires]
python_version = "3.8"

[packages]
pandas = "*"
numpy = "*"
netcdf4 = "*"
xarray = "*"
utm = "*"
scipy = "*"

[dev-packages]
pytest-cov = "*"
black = "*"
ipython = "*"
jupyter = "*"
matplotlib = "*"

[pipenv]
allow_prereleases = true
